*.[oa]
*.lo
*.la
*.in
*.log
*.substvars
Makefile
/debian/liblaimetadata-dbg/
/debian/liblaimetadata-dev/
/debian/liblaimetadata/
/debian/tmp/
aclocal.m4
/config/
config.h
config.h.in~
config.status
configure
/debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
/debian/liblairedis-dbg/
/debian/liblairedis-dev/
/debian/liblairedis/
/debian/liblaivs-dbg/
/debian/liblaivs-dev/
/debian/liblaivs/
/debian/syncd-vs-dbg/
/debian/syncd-vs/
/lib/src/.deps/
lib/src/.dirstamp
/lib/src/.libs/
libtool
/m4/
/meta/.libs/
stamp-h1
/syncd/.libs/
syncd/syncd
syncd/syncd_request_shutdown
/vslib/src/.libs/
