# Compiled Source #
###################
*.a
*.la
*.lo
*.o
*.so

# Packaging Files #
###################
debian/*.debhelper.log
debian/*.substvars
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files

debian/tmp/
debian/libotaimetadata-dbg/
debian/libotaimetadata-dev/
debian/libotaimetadata/
debian/libotairedis-dbg/
debian/libotairedis-dev/
debian/libotairedis/
debian/libotaivs-dbg/
debian/libotaivs-dev/
debian/libotaivs/
debian/syncd-ot-vs-dbg/
debian/syncd-ot-vs/

**/.deps/
**/.dirstamp
**/.libs/
**/Makefile
Makefile.in
aclocal.m4
autom4te.cache/
aminclude_static.am
config.h
config.h.in
config.log
config.status
config/
configure
libtool
m4/
stamp-h1

# Dependency Folder #
#####################
deps/

# Executables #
###############
syncd/syncd
syncd/syncd_request_shutdown

# Temporary files #
###################
**/*~
.vscode
