*.[oa]
*.lo
*.la
*.in
*.log
*.substvars
Makefile
/debian/libotaimetadata-dbg/
/debian/libotaimetadata-dev/
/debian/libotaimetadata/
/debian/tmp/
aclocal.m4
/config/
config.h
config.h.in~
config.status
configure
/debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
/debian/libotairedis-dbg/
/debian/libotairedis-dev/
/debian/libotairedis/
/debian/libotaivs-dbg/
/debian/libotaivs-dev/
/debian/libotaivs/
/debian/syncd-vs-dbg/
/debian/syncd-vs/
/lib/src/.deps/
lib/src/.dirstamp
/lib/src/.libs/
libtool
/m4/
/meta/.libs/
stamp-h1
/syncd/.libs/
syncd/syncd
syncd/syncd_request_shutdown
/vslib/src/.libs/
