Package: syncd-ot-vs
Source: sonic
Version: 1.0.0
Architecture: amd64
Maintainer: Kamil Cudnik <kcudnik@microsoft.com>
Installed-Size: 29337
Conflicts: syncd, syncd-rpc
Section: net
Priority: optional
Description: This package contains sync daemon for SONiC project linked with virtual switch.
  This sync daemon syncs the ASIC_DB in Redis database and the real ASIC via OTAI.
